/*// Font size classes*/
body.font-size-small {
	font-size: 0.85rem !important;

	--text-tiny: 9px;
	--text-2xs: 10px;
	--text-xs: 10px;
	--text-sm: 11px;
	--text-md: 11px;
	--text-base: 12px;
	--text-lg: 14px;
	--text-xl: 16px;
	--text-2xl: 18px;
	--text-3xl: 20px;
	--text-4xl: 22px;
	--text-5xl: 24px;
	--text-6xl: 28px;
	--text-7xl: 32px;
	--text-8xl: 36px;
	--text-9xl: 40px;
	--text-10xl: 44px;
	--text-11xl: 48px;
	--text-12xl: 52px;

	--font-size-xs: 8px;
	--font-size-sm: 10px;
	--font-size-base: 12px;
	--font-size-md: 14px;
	--font-size-lg: 16px;
	--font-size-xl: 18px;
	--font-size-broadside: 16px;
}

body.font-size-medium {
	font-size: 1rem !important;

	--text-tiny: 11px;
	--text-2xs: 12px;
	--text-xs: 12px;
	--text-sm: 13px;
	--text-md: 13px;
	--text-base: 14px;
	--text-lg: 16px;
	--text-xl: 18px;
	--text-2xl: 20px;
	--text-3xl: 24px;
	--text-4xl: 26px;
	--text-5xl: 28px;
	--text-6xl: 32px;
	--text-7xl: 40px;
	--text-8xl: 44px;
	--text-9xl: 48px;
	--text-10xl: 52px;
	--text-11xl: 56px;
	--text-12xl: 64px;

	--font-size-xs: 10px;
	--font-size-sm: 12px;
	--font-size-base: 14px;
	--font-size-md: 16px;
	--font-size-lg: 18px;
	--font-size-xl: 20px;
	--font-size-broadside: 18px;
}

body.font-size-large {
	font-size: 1.15rem !important;

	--text-tiny: 12px;
	--text-2xs: 13px;
	--text-xs: 13px;
	--text-sm: 14px;
	--text-md: 15px;
	--text-base: 16px;
	--text-lg: 18px;
	--text-xl: 20px;
	--text-2xl: 22px;
	--text-3xl: 26px;
	--text-4xl: 28px;
	--text-5xl: 30px;
	--text-6xl: 34px;
	--text-7xl: 44px;
	--text-8xl: 48px;
	--text-9xl: 52px;
	--text-10xl: 56px;
	--text-11xl: 60px;
	--text-12xl: 70px;

	--font-size-xs: 11px;
	--font-size-sm: 13px;
	--font-size-base: 15px;
	--font-size-md: 17px;
	--font-size-lg: 19px;
	--font-size-xl: 21px;
	--font-size-broadside: 19px;
}

body.font-size-extra-large {
	font-size: 1.3rem !important;

	--text-tiny: 14px;
	--text-2xs: 15px;
	--text-xs: 15px;
	--text-sm: 16px;
	--text-md: 17px;
	--text-base: 18px;
	--text-lg: 20px;
	--text-xl: 22px;
	--text-2xl: 24px;
	--text-3xl: 28px;
	--text-4xl: 30px;
	--text-5xl: 32px;
	--text-6xl: 38px;
	--text-7xl: 48px;
	--text-8xl: 52px;
	--text-9xl: 56px;
	--text-10xl: 60px;
	--text-11xl: 66px;
	--text-12xl: 76px;

	--font-size-xs: 13px;
	--font-size-sm: 15px;
	--font-size-base: 17px;
	--font-size-md: 19px;
	--font-size-lg: 21px;
	--font-size-xl: 23px;
	--font-size-broadside: 21px;


}
